pip==25.1
streamlit==1.43.2
numpy==2.2.1
pandas==2.2.3
plotly==6.0.1
snowflake-connector-python==3.12.4
pytz==2025.2
PyYAML==6.0.2
streamlit-authenticator==0.4.2
watchdog==6.0.0
Authlib==1.5.2
certifi==2025.4.26
unidecode==0.04.12
gspread==6.1.4
requests==2.32.3
datetime==5.5
pandas-io==0.0.1
google-oauth2-tool==0.0.3
google-auth==2.37.0
python-dotenv==1.1.1
google-cloud-storage==3.2.0